{% extends 'forum/base.html' %}

{% block title %}Projects - Rehub Laboratory{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- My Profile Section -->
    <div class="row my-3 profile-section">
        <div class="col-md-3">
            <!-- Profile Section with boundary -->
            <div class="profile-boundary bg-pink text-center p-3">
                <div class="profile-pic-container">
                    <img src="{{current_account_photo.url}}" class="img-fluid" alt="Profile Picture">
                </div>
                <div class="profile-text">
                    <p>{{request.user.username}}</p>
                    <p>{{request.user.date_joined}}</p>
                    <p>Specializing in Biotechnology</p>
                </div>
            </div>
        </div>
        
        <!-- Projects Section -->
        <div class="col-md-9">
            <div class="row projects-section">
                <!-- Dynamically generated project cards -->
                {% for i in projects %}
                <div class="col-md-6 my-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Project "{{ i.title }}"</h5>
                            <p>Details of Project:  {{ i.description }}</p>
                            <a href="{{i.get_absolute_url}}" class="btn btn-primary">Go to Link</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Button to add more projects -->
            <div class="text-right my-2">
                <button class="btn btn-outline-success btn-sm">Initiate new project</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
