{% extends 'forum/base.html' %}

{% block title %}Project - Rehub Laboratory{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Project Section -->
    <div class="row my-3 project-section">
        <div class="col-md-12">
            <!-- Project Details -->
            <div class="project-details bg-light p-3">
                <h2>{{ project_data.title }}</h2>
                <img src="{{project_data.photo.url}}" class="img-fluid" alt="Project Image" style="max-width:100%;">
                <p class="mt-3">{{ project_data.description }}</p>

                <!-- Additional Project Information -->
                <div class="additional-info mt-4">
                    <p><strong>Start Date:</strong> {{ project_data.start_date }}</p>
                    <p><strong>End Date:</strong> {{ project.end_date }}</p>
                    <p><strong>Project Lead:</strong> {{ project.lead }}</p>
                    <p><strong>Team Members:</strong> {{ project.team_members }}</p>
                    <!-- Add more project-specific details here -->
                </div>

                <!-- Back to Projects List Button -->
                <div class="text-right my-2">
                    <a href="/projects/" class="btn btn-outline-primary btn-sm">Back to Projects</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
