body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}

.navbar-custom .navbar-nav .nav-link {
    border-radius: 5px; /* Adjust radius to your preference for rounding */
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  }
  
  .navbar-custom .navbar-nav .nav-link:hover, 
  .navbar-custom .navbar-nav .nav-link:focus {
    background-color: #0066cc; /* Color when hovering or focused */
    border-radius: 15px; /* More pronounced rounding when hovering or focused */
  }

  
  /* Add this CSS to your stylesheet */

.profile-boundary {
    border: 2px solid #ccc; /* Boundary for profile */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px; /* Slightly rounded corners for the rectangle */
}

.profile-pic-container img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.projects-section {
    border: 2px solid #ccc; /* Boundary for projects */
    padding: 10px;
    max-height: 600px; /* Adjust as needed */
    overflow-y: auto; /* Makes it scrollable */
}

.card {
    margin-bottom: 5px; /* Spacing between project cards */
}



.card-container {
    display: flex;
    flex-wrap: wrap;
}

/* .col-md-4 {
    display: flex;
   
    height: 100%; 
} */

.equal-height-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Spacing between project cards */
    border-radius: 15px; /* as per your style */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* as per your style */
    overflow: hidden; /* as per your style */
    background: url('path_to_your_background_image'); /* as per your style */
    background-size: cover; /* as per your style */
    height: 100%; /* Stretch to the height of the container */
}


.card {
    margin-bottom: 5px; /* Reduced from 10px for less space */
}

/* Flexbox container for equal height columns */
.equal-height-container {
    display: flex;
    flex-wrap: wrap;
}

/* Equal height for news panel and carousel */
.equal-height-container > div {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}

/* CSS for news panel to take remaining height */
.news-panel {
    display: flex;
    flex-direction: column;
    height: 100%; /* Make sure it stretches to the height of its container */
}

/* .card-body {
    flex: 1; 
} */

/* move to addproject.css */
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}